<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<div>
<form id="version"
      enctype="multipart/form-data"
      action="/Version/add"
      method="post" name="uploadForm" novalidate>
      <label>Version Name:</label>
      <input type="text" id="versionName" name="versionName"></input><br/>
      <label>Description:</label>
      <input type="text" id="description" name="description"></input><br/>
      <label>Refernce link:</label>
      <input type="text" id="referencelink" name="referencelink"></input><br/>
      <label>Category:</label>
    <input type="file" id="verisonFile" name="verisonFile" />
 
 <input type="submit" value="Add Version"/>
</form>
</div>
 </body>
</html>